ion-icon {
    font-size: 32px;
    --ionicon-stroke-width: 24px;
    margin: 0 15px 0 0px;
    /* color: #181717; */
    color: rgb(85, 84, 84);
  }

  ::-webkit-scrollbar{
    width: 7px;
  }

  ::-webkit-scrollbar-track{
    background:#cfcfcf;
  }

  ::-webkit-scrollbar-thumb{
    background:#a5a5a5;
  }

  *{
    text-decoration: none;
  }